@font-face {
  font-family: Tourney;
  src: url(../fonts/Tourney.ttf);
}
:root {
  --main-color: rgb(30, 30, 30);
  --secondary-color: #f7f7f7;
  --gray-color: rgb(105, 105, 105);
  --invalid-color: #f00;
  --main-background-color: #ebebeb;

  --main-font: Tourney;
  --secondary-font: sans-serif;
  --right-panel-padding: 10px 5%;
  --right-panel-width: 90%;
  --button-color: #075223;
  --button-hover-color: #0a5d2a;
  --input-border-color: #cdcdcd;
  --input-border-color-invalid: #f00;
  --input-border-color-valid: #0a5d2a;
  --input-border-color-hover: #4f4ce1;
  --input-border-color-focus: #3835cf;
}
:root.dark {
  --main-color: #ebebeb;
  --secondary-color: rgb(30, 30, 30);
  --gray-color: rgb(105, 105, 105);
  --invalid-color: #f00;
  --main-background-color: rgb(24, 24, 24);
  --input-border-color: #ebebeb14;
}
body{
  margin: 0;
}
.body {
  display: flex;
  min-height: 100vh;
  background: var(--main-background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* ------------ */
/*  Left Panel  */
/* ------------ */ 
#LeftPanel {   
  width: 33vw;
  height: 100vh;
  background: url(../images/background.jpg) no-repeat center;
  background-size: cover;
}
#LeftPanel>.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#LeftPanel>.overlay>.title {
  height: 120px;
  margin: 25vh 0;
  padding: 4% 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
#LeftPanel>.overlay>.title>.logo {
  width: 4.5vw;
  height: 100%;
  background: url(../images/logo.svg) no-repeat center;
  background-size: contain;
  filter: invert(1);
}
#LeftPanel>.overlay>.title>h1 {
  font-family: Tourney;
  font-size: 5.5vw;
  font-weight: 400;
  text-align: center;
}
#LeftPanel>.overlay>.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: max(1vw, 10px);
}
#LeftPanel>.overlay>.footer>div>a {
  color: white;
  text-decoration: none;
}
#LeftPanel>.overlay>.footer>div>a:hover {
  text-decoration: underline;
}

/* ------------ */
/* Right Panel  */
/* ------------ */ 
#RightPanel {
  width: 67vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: max(10px, 2vh);
}
.description {
  width: var(--right-panel-width);
  padding: var(--right-panel-padding);
  display: flex;
  flex-direction: column;
}
.description>p {
  font-size: max(16px, 1.6vw);
  font-weight: 600;
  margin: 0;
  color: var(--main-color);
}
.form {
  width: var(--right-panel-width);
  padding: var(--right-panel-padding);
  display: flex;
  flex-wrap: wrap;
  background: var(--secondary-color);
  box-shadow: 0px 5px 4px 1px rgb(0 0 0 / 10%);
}
.form>.title {
  width: 100%;
}
.form>.title>h3 {
  margin: 0;
  font-size: max(20px,1vw);
  font-weight: 700;
  color: var(--main-color);
}
.form-group {
  width: max(40%, 28vw);
  margin: max(10px, 1vh) 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form-group>label {
  font-size: 14px;
  color: var(--main-color);
}
.form-group>input {
  width: 80%;
  height: 20px;
  padding: 1vh;
  font-size: 10px;
  font-weight: 700;
  color: var(--main-color);
  background: var(--secondary-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
}
.form-group>input.error {
  border: 1px solid var(--input-border-color-invalid);
}
.form-group>input.valid {
  border: 1px solid var(--input-border-color-valid);
}
.form-group>input:hover {
  border: 1px solid var(--input-border-color-hover);
  box-shadow: 3px 3px 1px 0px var(--input-border-color);
}
.form-group>input:focus {
  border: 2px solid var(--input-border-color-focus);
  box-shadow: 3px 3px 1px 0px var(--input-border-color);
}
#error-message {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--invalid-color);
  font-size: 14px;
  font-weight: 700;
}
#error-message.hidden {
  display: none;
}
form>.footer {
  width: var(--right-panel-width);
  padding: var(--right-panel-padding);
  padding-top: 10px;
  padding-bottom: 0;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
}
form>.footer>button {
  padding: 1.5vh 2vw;
  background: var(--button-color);
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 25%);
}
form>.footer>button:hover {
  background: var(--button-hover-color);
}
form>.footer>button:active {
  box-shadow: none;
}
form>.footer>button[type="button"] {
  background: var(--main-color);
  color: var(--secondary-color);
}
form>.footer>button[type="button"]:hover {
  background: var(--gray-color);
}
form>.footer>button[type="button"]:active {
  box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 25%);
}
form>.footer>p>a {
  color: var(--main-color);
  text-decoration: none;
}
form>.footer>p>a:hover {
  text-decoration: underline;
}